user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid /var/run/nginx.pid;

events {
	worker_connections {{ nginx_worker_connections }};
	# multi_accept on;
}

http {
    #upload_progress uploads 1m;
    client_max_body_size {{ nginx_client_max_body_size }};
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout {{ nginx_keepalive_timeout }};
	types_hash_max_size 2048;
	# server_tokens off;

	server_names_hash_bucket_size 512;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

    gzip on;
    gzip_proxied any;
    gzip_comp_level 5;
    gzip_buffers 32 8k;
    gzip_http_version 1.0;
    gzip_vary on;
    gzip_types text/javascript text/css text/plain application/json application/x-javascript text/xml application/xml application/xml+rss text/json application/javascript;

	#include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}
