limit_conn_zone $binary_remote_addr zone=arbeit:10m;

server {
    listen 80; # IPv4
    server_name www.{{ nginx_vhost_server_name }};
    return 301 $scheme://{{ nginx_vhost_server_name }}$request_uri;
}

server {
    # listen port
    listen 80 default_server;
    #listen *:443 ssl;
    # site domain
    server_name {{ nginx_vhost_server_name }};
    # disable nginx version
    server_tokens off;
    # upload max filesize
    client_max_body_size 10M;
    set $cached 1;
    # root directory
    root   {{ nginx_vhost_root_directory }};
    # index file
    index index.html index.htm index.php index.cgi index.pl index.xhtml;
    # keep connections open
    fastcgi_keep_conn on;
    # connlimit
    limit_conn arbeit 32;
    # logs
    # disables logging of errors about not found files into error_log
    log_not_found off;
    access_log /var/log/nginx/{{ nginx_vhost_server_name }}.access.log;
    error_log /var/log/nginx/{{ nginx_vhost_server_name }}.error.log;
    # if the site is behind a proxy
    #set_real_ip_from X.X.X.X;
    #real_ip_header X-Forwarded-For;

    #enable gzip
    gzip_vary on;
    gzip_static on;

    # iframe block
    #add_header X-Frame-Options SAMEORIGIN;
    # content security, Allow execution of JavaScript, loaded only with our domain, Do not run embedded (inline) JavaScript
    #add_header X-Content-Security-Policy "allow 'self';"; 
    # iexplorer xss enable
    add_header X-XSS-Protection "1; mode=block"; 

    # ssl conf
    #ssl_certificate /etc/nginx/ssl/example.com.crt;
    #ssl_certificate_key /etc/nginx/ssl/example.com.key;
    #ssl_session_timeout         5m;
    #ssl_protocols               SSLv2 SSLv3 TLSv1;
    #ssl_ciphers                 HIGH:!aNULL:!MD5;
    #ssl_prefer_server_ciphers   on;

    # htpass
    #auth_basic              "Login";
    #auth_basic_user_file    /etc/nginx/htpasswd;


    if ($http_user_agent ~ (httrack|htmlparser|libwww|inktomi.com|avastye.com|H010818|ODI3|FunWebProducts|looksmart.net|i.love.teh.cock|googlebawt.com|Microsoft-WebDAV-MiniRedir|JoeDog|Siege|curl|AB|ApacheBench) ) {
        return 444;
    }

    # Protection against illegal HTTP methods. Out of the box only HEAD
    if ( $request_method !~ ^(?:GET|HEAD|POST|PUT|DELETE|OPTIONS)$ ) {
        return 405;
    }       

    #nginx status minitoring
    location = /nginx-stats {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        deny all;
    }

    location / {
        # try to serve file directly, fallback to rewrite
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        # rewrite all to app.php
        rewrite ^(.*)$ /app.php/$1 last;
    }

    location ~ /\. {
        deny all;
        access_log off;
        log_not_found off;
    }

    # acces to robots
    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location ~* ^(?:.+\.(?:htaccess|make|txt|engine|inc|info|install|module|profile|po|sh|.*sql|theme|tpl(?:\.php)?|xtmpl)|code-style\.pl|/Entries.*|/Repository|/Root|/Tag|/Template)$ {
        rewrite  ^/(.*)$  /index.php?q=$1  last;
    }

    location ~ ^/(app_dev|app)\.php(.*?)\.(?:ico|gif|jpe?g|png)$ {
        access_log        off;
        log_not_found     off;
        expires           max;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }

    location ~ ^/(app|app_dev|config)\.php(/|$) {
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }

    location /phpmyadmin {
        allow all;
        root /usr/share/;
        index index.php index.html index.htm;

        location ~ ^/phpmyadmin/(.+\.php)$ {
            try_files $uri =404;
            root /usr/share/;
            fastcgi_pass 127.0.0.1:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $request_filename;
            include /etc/nginx/fastcgi_params;
        }

        location ~* ^/phpmyadmin/(.+\.(jpg|jpeg|gif|css|png|js|ico|html|xml|txt))$ {
            root /usr/share/;
        }
    }

    location /phpMyAdmin {
        rewrite ^/* /phpmyadmin last;
    }

    location ^~ /xhprof {
        root /var/www/;
        allow all;

        location ~ \.php$ {
            fastcgi_pass   127.0.0.1:9000;
            fastcgi_index  index.php;
            fastcgi_param  SCRIPT_FILENAME  $request_filename;
            include fastcgi_params;
            fastcgi_ignore_client_abort     off;
            fastcgi_connect_timeout 500;
            fastcgi_read_timeout 500;
            fastcgi_buffer_size 160M;
            fastcgi_buffers 4 320M;
            fastcgi_busy_buffers_size 640M;
            fastcgi_temp_file_write_size 640M;
        }
    }
}
